@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Thin-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Light-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Medium-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Bold-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Black-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 900;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: vazir;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 380px;
    height: auto;
    background-image: linear-gradient(to bottom left, #292929, #1f1f1f);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
    border: 1px solid rgb(97, 97, 97) ;
    text-align: center;
}
.card__profile{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid rgb(97, 97, 97);
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__name{
    color: #fff;
    font-weight: 900;
}
.card__city{
    color: #a6c23a;
    font-weight: 700;
    margin-bottom: 25px;
}
.card__skill{
    color: #e1e1e1;
    font-weight: 300;
    margin-bottom: 30px;
}
.card__links{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.link{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: linear-gradient(to right, #424242, #333333);
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover{
    background-image: linear-gradient(to left, #424242, #333333);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.link:active{
    background-image: linear-gradient(to right, #ccfe1f, #9bc216);
    color: #141414;
}

@media (width < 420px) {
    body{
        padding: 0 1rem;
    }
    .card{
        max-width: 100%;
    }
}