@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Thin-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Light-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Medium-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Bold-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: vazir;
    src: url(../assets/fonts/Vazir-Black-FD.ttf) format(truetype);
    font-style: normal;
    font-weight: 900;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: vazir;
}
body{
    background-color: #f3e5d8;
}
.recipe-card{
    width: 730px;
    border-radius: 20px;
    padding: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #fff;
    margin: 120px auto;
    box-shadow: 0 10px 40px rgba(55, 51, 50, 0.1);
}
.recipe-card__image-wrapper{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.recipe-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recipe-card__title{
    font-weight: 900;
    color: #373332;
    font-size: 2.5rem;
    margin: 2rem 0 1rem 0;
}
.recipe-card__description{
    font-size: 1.1rem;
    color: #373332;
    margin-bottom: 2rem;
}
.preparation-time{
    background-color: #fff2fa;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 2rem 1.8rem;
    margin-bottom: 2rem;
}
.preparation-time__title{
    color: #712b47;
    font-weight: 700;
    margin-bottom: 1rem;
}
.preparation-time__list{
    color: #373332;
    padding-right: 1.2rem;
}
.preparation-time__list-item{
    margin-bottom: 0.5rem;
    color: #373332;
}
.preparation-time__list-item::marker{
    color: #712b47;
}
.recipe-card-section__title{
    color: #884b36;
    font-weight: 700;
}
.recipe-card-section__description{
    color: #373332;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}
.recipe-card-section__list{
    margin: 1.2rem;
}
.recipe-card-section__list-item{
    margin-bottom: 0.5rem;
    color: #373332;
    font-size: 1rem;
}
.recipe-card-section__list-item::marker{
    color: #884b36;
}
.recipe-card-section__hr{
    color: #373332;
    opacity: 50%;
    margin: 2rem 0;
}
.recipe-card-section__list-item-text{
    padding-right: 1.5rem;
}
.recipe-card-section__table{
    color: #373332;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    width: 100%;
    border-collapse: collapse;
}
.recipe-card-section__teble-row{
    border-bottom: 1px solid rgba(55, 51, 50, 0.3);
}
.recipe-card-section__teble-col-name{
    padding: 0.8rem;
}
.recipe-card-section__teble-col-value{
    padding: 0.8rem;
    color: #884b36;
    font-weight: 500;
}


@media screen and (width < 768px){
    .recipe-card{
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .recipe-card__image-wrapper{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        height: 250px;
    }
    .recipe-card__wrapper{
        padding: 0 30px 30px 30px;
    }

}